<form action="/recipes" method="post" class="form-example">
  <div class="form-example">
    <label for="recipe_name">Recipe Name: </label>
    <input type="text" name="recipe_name" id="recipe_name" required>
  </div>
  <div class="form-example">
    <label for="description">Enter the recipe description: </label>
    <input type="text" name="description" id="description" required>
  </div>
  <div class="form-example">
    <label for="rating">Enter the recipe rating: </label>
    <input type="text" name="rating" id="rating">
  </div>
  <div class="form-example">
    <label for="prep_time">Enter the prep-time needed: </label>
    <input type="text" name="prep_time" id="prep_time">
  </div>
  <div class="form-example">
    <input type="submit" value="Add the recipe!">
  </div>
</form>
